* {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* outline: 2px solid red; */
}

h1 {
    text-align: center;
    background-color: aqua;
}

li {
    display: inline;
    background-color: aqua;
    color: black;
    list-style-type: square;
    margin: auto 30px;
    border: 1px solid black;
}

li:hover {
    background-color: cadetblue;
}

a {
    text-decoration: none;
    color: black;
}

.recipes-container {
    text-align: center;
    background-color: aqua;
    padding: 30px 30px;
}